@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="number"],
        input[type="tel"],
        input[type="email"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type="submit"]:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="header">Create Dentist</h2>
        <form id="dentistForm" action="/Veteran/New" method="POST" onsubmit="return validateForm()">
            <div>
                <label>Name:</label> <input type="text" name="DentistName" required />
            </div>
            <div>
                <label>Specialization:</label> <input type="text" name="Specialization" required />
            </div>
            <div>
                <label>Phone:</label> <input type="tel" name="Phone" required />
            </div>
            <div>
                <label>Email:</label><input type="email" name="Email" required />
            </div>
            <div>
                <label>Address:</label><input type="text" name="Address" required />
            </div>
            <div>
                <label>Rating:</label><input type="number" name="Rating" required />
            </div>
            <div>
                <input type="submit" value="Add Dentist" />
            </div>
        </form>
    </div>

    <script>
        function validateForm() {
            var form = document.getElementById('dentistForm');
            if (!form.checkValidity()) {
                // If the form is invalid, display appropriate error messages
                form.reportValidity();
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
